.pawn-selection {
    display: flex;
    gap: min(8vw, 8vh, 4rem);
    flex-direction: row;
}

.t {
    transition: opacity 0.2s ease;
}

.single {
    opacity: 0.2;
    cursor: pointer;
}

.selected {
    opacity: 1;
}