.main-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.main-page.popup-open {
    animation: popupOpen 0.4s ease forwards;
    animation-delay: 0.7s;
}

@keyframes popupOpen {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    z-index: 101;
    animation: popupIn 0.4s ease forwards;
    animation-delay: 0.7s;
}

@keyframes popupIn {
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}


/* .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    z-index: 101;
    animation-delay: 5s;
    animation: popupIn 3s ease-out forwards;
    min-width: 250px;
    text-align: center;
}

@keyframes popupIn {
    from {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
} */