.main-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease, opacity 0.3s ease 0.7s;
}

.theme-toggle-switch {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 102;
    /* Ensure it is clickable above the popup */
}