<div class="grid-wrapper">
    <div class="grid">
        @for (row of rowIndices; track row) {
        @for (col of colIndices; track col) {
        <cell [value]="grid()[row][col]" [row]="row" [col]="col"></cell>
        }
        }
    </div>

    <!-- Vertical bars -->
    @for (verticalBarPosition of barPositions; track verticalBarPosition) {
    <div class="bar vertical" [style.left.%]="verticalBarPosition"></div>
    }

    <!-- Horizontal bars -->
    @for (horizontalBarPosition of barPositions; track horizontalBarPosition) {
    <div class="bar horizontal" [style.top.%]="horizontalBarPosition"></div>
    }


    <!-- Victory bars -->

    <!-- Vertical -->
    @if (gameVictoryDetails().orientation === 'vertical') {
    <div class="bar victory vertical" [style.left]=" 'calc(' +
      ((gameVictoryDetails().index + 0.5) * (100 / gameSize)) +
      '% - var(--grid-size) * 0.015)'
    "></div>
    }

    <!-- Horizontal -->
    @if (gameVictoryDetails().orientation === 'horizontal') {
    <div class="bar victory horizontal" [style.top]="'calc(' +
      ((gameVictoryDetails().index + 0.5) * (100 / gameSize)) +
      '% - var(--grid-size) * 0.015)'">
    </div>
    }

    <!-- Main diagonal -->
    @if (gameVictoryDetails().orientation === 'diagonal' && gameVictoryDetails().index === 0) {
    <div class="bar victory diagonal main">
    </div>
    }

    <!-- Anti diagonal -->
    @if (gameVictoryDetails().orientation === 'diagonal' && gameVictoryDetails().index === 1) {
    <div class="bar victory diagonal anti">
    </div>
    }
</div>