.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--grid-size) / var(--game-size));
    height: calc(var(--grid-size) / var(--game-size));
}

.cell-content {
    font-size: calc(var(--grid-size) / var(--game-size) * 0.6);
    animation: popIn 0.3s ease;
}

@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}