.game-result {
    color: var(--accent-color);
    font-size: min(5vw, 5vh, 2rem);
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    transition: color 0.3s ease;
}