<div class="scores">
    @for (entry of scoreEntries(); track entry.key) {
    <div class="score-result-pair">
        <div class="score-slider">
            <div class="score-slider-container" [class.animate]="animating()[entry.key]"
                (animationend)="onAnimationEnd(entry.key)">
                <div class="score">{{ entry.value }}</div>
                <div class="score">{{ entry.value + 1 }}</div>
            </div>
        </div>
        <div class="result">{{ entry.key }}</div>
    </div>
    }
</div>